@use "../util";

html {
  box-sizing: border-box;
  font: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  padding: 10px;
}

.app {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.container {
  width: auto;
  max-width: 80%;
  margin-top: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  background-color: var(--primary);
  border-radius: 1rem;
  min-height: 10rem;

  display: block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search {
  width: auto;
  max-width: 90%;

  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  background: var(--prime-variant);
  display: flex;
}
.search input {
  max-width: 100%;
  width: auto;
  flex: 1;
  border: none;
  padding-right: 1rem;
  background: var(--prime-variant);

  outline: none;
}

.card {
  width: 12rem;
  height: 12rem;
  margin: 1rem;

  background-color: var(--secondary);

  position: relative;
  border-radius: 12px;
  overflow-y: hidden;
  border: none;

  transition: all 1.5s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  top: 0;
}

.card:hover,
.talcard:hover {
  z-index: 5;
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1),
    0rem 0rem 2rem rgba(255, 255, 255, 0.99); /* Added white drop shadow */
  background-color: #ddf9f5;
  transform: scale(1.5, 1.5);
}

.card div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.card div:nth-of-type(2) img {
  height: 100%;
  width: auto;
  max-height: 100%;
}

.card div:nth-of-type(3) {
  z-index: 2;
  background-color: var(--second-variant);
  padding: 0.2rem 0.1rem 0rem 0.1rem;

  h3 {
    h3 {
      font-size: clamp(util.rem(10), util.rem(14) + 1vw, util.rem(16));
    }
    span {
      font-size: clamp(util.rem(7), util.rem(10) + 1vw, util.rem(12));
    }
  }

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: #f0f0f0;
}

.card:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.1;
}

.card:hover div:nth-of-type(3) {
  background-color: transparent;
  color: #343739;
}

.card:hover div:nth-of-type(1) {
  opacity: 1;
}

body {
  text-align: center;
  background-color: var(--bg-color);
}

@media screen and (max-width: 1440px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 700px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .card {
    width: "100%";
    margin: 1rem;
  }

  input {
    max-width: 7.5rem;
  }
}

.ccc {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to new lines */
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
.tcc {
  z-index: 5;
  background-color: var(--prime-variant);
  padding: 0rem;
  padding-top: 1.23rem;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  border-radius: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1rem;

  h2 {
    color: var(--prime-error-text);
  }
  max-width: 90%;

  @include util.breakpoint-down(small) {
    max-width: 75%;
  }
}
.tcc-in {
  background-color: var(--prime-variant);
  padding: 2rem;
  padding-top: 0rem;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  margin-top: 0rem;
  border-radius: 1rem;
  display: block;
  @include util.breakpoint(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @include util.breakpoint-down(small) {
    padding: 0.5rem;
    margin: 0.5rem;
  }
}

.concardcon {
  display: flex;
  flex-wrap: wrap;
}

.talent-head {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    text-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0); /* Add a subtle drop shadow */
  }
}

.talcard {
  max-width: 80%;
  min-height: 10rem;
  max-height: 10rem;
  overflow-y: scroll;

  @include util.breakpoint(tablet) {
    max-width: 40%;
    max-height: 10rem;
    overflow-y: hidden;
  }
  @include util.breakpoint(monitor) {
    max-width: 30%;
  }
  position: relative;
  border-radius: 12px;
  border: none;

  transition: all 1.5s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);

  background-color: var(--secondary);
  width: 100%;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  @include util.breakpoint(tablet) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }
}

.concard {
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;

  position: relative;
  border-radius: 12px;
  border: none;
  height: 6rem;

  transition: all 1.5s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);

  background-color: var(--secondary);
  @include util.breakpoint(tablet) {
    width: 40%;
    height: 15rem;
  }
  @include util.breakpoint(monitor) {
    width: 30%;
    height: 15rem;
  }
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: center;
  padding: 0rem;
  padding-top: 1rem;
}
.talent-img {
  position: relative;
  background-color: var(--second-variant);
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 10rem;
}
.talent-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 5rem; /* Minimum width */
  height: 5rem; /* Minimum height */
}
.taltext,
context {
  overflow-y: auto;
  overflow-x: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--prime-variant);
  color: #f0f0f0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--second-variant);
  color: #343739;
}
.char-icon {
  width: clamp(util.rem(66), util.rem(75) + 1vw, util.rem(100));
}

.concard {
  width: 10rem;
  height: 10rem;
  overflow-y: auto;
  overflow-x: auto;

  position: relative;
  border-radius: 12px;
  border: none;

  transition: all 1.5s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  align-items: normal;

  background-color: var(--secondary);
  @include util.breakpoint(mobile) {
    align-items: center;
  }
  @include util.breakpoint(tablet) {
    width: 8rem;
    height: 8rem;
  }
  @include util.breakpoint(monitor) {
    width: 7rem;
    height: 7rem;
  }
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include util.breakpoint-down(small) {
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  @include util.breakpoint-down(medium) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  display: flex;
  justify-content: center;
  padding: 0rem;
}

.concard div:nth-of-type(2) {
  visibility: hidden;
}
.concard:hover {
  transform: scale(2, 2);
  @include util.breakpoint(tablet) {
    transform: scale(3, 3);
  }
}

.concard div:nth-of-type(1) img {
  height: 100%;
  width: auto;
  max-height: 100%;
}

.concard div:nth-of-type(2) {
  z-index: 2;

  position: absolute;

  color: #343739;
}

.concard:hover div:nth-of-type(1) {
  opacity: 0.1;
}

.concard:hover div:nth-of-type(2) {
  z-index: 7;
  visibility: visible;
  color: #343739;
}

.context {
  padding: 0.5rem;
}
.splash-art {
  width: 100%;
  margin: 0 auto; /* Center the container */
  position: relative;
  background-size: cover;
  background-position: center;
}

table {
  margin: auto;
}

/* Add this SCSS to your existing styles or a separate SCSS file */

table {
  max-width: 85%;
  border-collapse: collapse;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  margin-top: auto;
  margin-bottom: 20px;

  @include util.breakpoint-down(small) {
    max-width: 100%;
  }

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
  }

  th {
    background-color: rgba(0, 0, 0, 0.15); /* Slightly transparent black */
    font-weight: bold;
  }
}
.bg-over-table {
  margin-top: 20rem;
}

.att-tabl {
  margin: auto;
  width: 90%;
  overflow-x: auto;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 75%;
  max-height: 80vh;
  overflow-x: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  z-index: 9999;
}
