@use "../util";

html {
  box-sizing: border-box;
  font: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  padding: 10px;
}

.app {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.container {
  width: auto;
  max-width: 80%;
  margin-top: 2rem;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  background-color: var(--primary);
  border-radius: 1rem;
  min-height: 100rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search {
  width: auto;
  max-width: 50%;

  margin: 1rem;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  background: var(--primary);
}
.search input {
  max-width: 100%;
  width: auto;
  flex: 1;
  border: none;
  padding-right: 1rem;

  outline: none;
}

.card {
  width: 12rem;
  height: 12rem;
  margin: 1rem;

  background-color: var(--secondary);

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  top: 0;
}

.card:hover {
  z-index: 5;
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1),
    0rem 0rem 2rem rgba(255, 255, 255, 0.99); /* Added white drop shadow */
  background-color: #ddf9f5;
  transform: scale(1.125, 1.125);

  @include util.breakpoint(mobile) {
    transform: scale(1.25, 1.25);
  }
  @include util.breakpoint(tablet) {
    transform: scale(1.5, 1.5);
  }
  @include util.breakpoint(monitor) {
    transform: scale(1.75, 1.75);
  }
}

.card div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.card div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.card div:nth-of-type(3) {
  z-index: 2;
  background-color: var(--second-variant);
  padding: 0.2rem 0.1rem 0rem 0.1rem;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: #f0f0f0;
}

.card:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.1;
}

.card:hover div:nth-of-type(3) {
  background-color: transparent;
  color: #343739;
}

.card:hover div:nth-of-type(1) {
  opacity: 1;
}

body {
  text-align: center;
  background-color: var(--bg-color);
}

@media screen and (max-width: 1440px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 700px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .card {
    width: "100%";
    margin: 1rem;
  }

  input {
    max-width: 7.5rem;
  }
}
