:root {
  --bg-color: #ffffff;
  --card-color: darkorchid;
  --text-color: beige;
  --primary: #6200ee;
  --prime-variant: #3700b3;
  --prime-error-text: #ffffff;
  --secondary-text: #000000;
  --secondary: #03dac6;
  --second-variant: #018786;
}
