@use "../util";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  //max-width: 1000px;
  width: min(100% - util.rem(10), 1000px); //100% for mobile and 1000px else
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto;

  @include util.breakpoint(tablet) {
    grid-template-columns: 2fr 1fr; // triggers the side bar
  }

  &__main,
  &__sidebar {
    padding: 20px;
  }

  &__main {
    background-color: darkblue;
  }
  &__sidebar {
    @include util.breakpoint("tablet") {
      text-align: left;
    }
  }

  &__widget {
    // nesting example
    $widget: &; // creating a variable that is set to the parent selector; in this case grid__widget
    background-color: darkorchid;
    padding: util.rem(12);

    &.green {
      //@extend .grid__widget; // use this without the $widget
      //@extend #{$widget};
      background-color: green;
    }
  }
}
